Wotzka/
venv/
.idea/
out/
.env
source/
docs/
*.log
/debug.log
.gitignore
frontend/node_modules/
frontend/build/
/userBackendNodeJS/src/config.ts
/userBackendNodeJS/node_modules
/userBackendNodeJS/build

